<!DOCTYPE html>
<html lang="en" ng-app="app">

  <head>
    
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico"></link>

    <title>Application Business Capability Maps</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet"></link>

    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet"></link>
    <link href="css/grid.css" rel="stylesheet"></link>
    <link href="css/nvd3.css" rel="stylesheet"></link>

  </head>

  <body>
    <div class="container" id="IndexCtrl" ng-controller="IndexCtrl">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" onClick="window.location.reload(true)">Application Business Capability Maps</a>
          </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="" onClick="window.location.reload(true)">Home</a></li>
            </ul>
        </div>
      </div>

<div class="container" id="IndexCtrl" ng-controller="IndexCtrl">

  <div class="container" ng-hide="data">

  <div class="page-header">
    <h1>Application List</h1>
	
  </div>
<!--search box-->
  <input type="text" ng-model="query" size="100" placeholder="Search for an application"></input><br/><br/>

  <ul> <!--list of applications-->
    <li ng-repeat="app in list.dataSeries | filter:query" ng-click="getFactSheet(app)"><a ng-href="">{{app | replaceUnderscores }}</a></li>
  </ul>

</div> <!-- /container -->

<div class="container" ng-show="data">

  <div class="page-header"></div> <!-- creates a pretty page break line -->

  <h3>Application Business Capability Map: {{ data.dataSeries.CapabilityOverviewSheet.APPLICATION_NAME_QUERY | replaceUnderscores }}</h3>
  
   Date updated : {{ data.dataSeries.CapabilityOverviewSheet.DATE_GENERATED_QUERY[0] }}

  <!-- ABCM Overview -->
 
	  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
		<th class="highlights3" colspan="6">Application Business Capability Map</th>
	      <tbody>
          <tr>
            <td colspan="6">  Application Business Capability Maps are created from the Veterans Health Administration Information Systems Architecture (VistA) Capability Mapping Project (V-CAMP) within the Department of Veterans Affairs (VA) to assist with the VistA modernization efforts and to facilitate portfolio rationalization. Application maps will be developed for 33 of the VistA applications that have been identified by the V-CAMP Performance Work Statement (PWS). The Application Business Capability Maps are a snapshot of the analysis being conducted and do not represent the full analysis. As new information is identified by the V-CAMP team, new maps will be available for distribution. For additional details please contact Ms. Jennifer Freese, Director, V-CAMP, Jennifer.Freese@va.gov.</td>
          </tr>
		  </tbody>
    </table>
    </table>
  
   <!-- Application Description -->

   	  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
		<th class="header2" colspan="6">{{ data.dataSeries.CapabilityOverviewSheet.APPLICATION_NAME_QUERY | replaceUnderscores }}</th>
	      <tbody>
          <tr>
            <td colspan="6"> {{ data.dataSeries.CapabilityOverviewSheet.APPLICATION_DESCRIPTION_QUERY[1] | replaceUnderscores }}</td>
          </tr>
		  </tbody>
    </table>
    </table>
 
  
  <div class="page-header"></div> <!-- creates a pretty page break line -->
     
  
      <h3 id="highlights">Application Overview</h3>
      <p>Click on a highlight to see more detailed information.</p>
      <br/>
	    
	  <!--application value little table-->
	    <table class="table table-striped">
    <table class="table table-bordered">
		<th class="highlights3" colspan="2">Application Value</th>
	      <tbody>
          <tr>
            <td class="header2" width="350">Value</td> 
			<td class="header2" >Criteria</td>
          </tr>
		   <tr>
            <td class="highlights2"><b>TBD**</b></td>
			<td class="highlights"><b>Business Value: </b>Reflects the level of contribution of a given application to support the effectiveness and efficiency of all enterprise business processes. Applications that are higher in business value are more valuable to the enterprise.</td>
          </tr>
		   <tr>
            <td class="highlights2" ><b>TBD**</b></td>
			<td class="highlights"><b>Technical Stability: </b>Reflects the application's level of support for upgrades to future health IT standards. Applications that are higher in technical stability better support modernization without significant changes.</td>
          </tr>
      </tbody>
    </table>
    </table>

	  
	  
	 <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
	<table class="fixedlayout">
		<th class="highlights3" colspan="6">Top 4 Similar Applications***</th>
	      <tbody>
          <tr>
            <td class="highlights" colspan="6">The application duplication score determines the level of duplication of the base application by other applications in the enterprise. Similarity and/or level of duplication is determined based upon shared application characteristics. This information is detailed in the Application Similarity section of this report.</td>
          </tr>
		   <tr>
            <td class="highlights2" height="20"><b>Base</b></td>
			<td class="highlights2">App 1</td>
			<td class="highlights2">App 2</td>
			<td class="highlights2">App 3</td>
			<td class="highlights2">App 4 </td>
			<td class="highlights2" rowspan="2" width="300">Scores range from 0% (no application duplication) to 100% (complete application duplication). </td>
          </tr>
		  <tr>
            <td class="highlights" > {{ data.dataSeries.CapabilityOverviewSheet.APPLICATION_DESCRIPTION_QUERY[0] | replaceUnderscores }}</td>
			<td class="highlights" valign="bottom">TBD</td>
			<td class="highlights" valign="bottom">TBD</td>
			<td class="highlights" valign="bottom">TBD</td>
			<td class="highlights" valign="bottom">TBD</td>
          </tr>
      </tbody>
    </table>
    </table>
	</table>

	  
	 <!-- first table --> 
	<div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
		<th class="highlights3" colspan="6">Application Overview</th>
	      <tbody>
          <tr>
            <td class="highlights2"><a ng-click="scrollTo('activities')">Direct Activities</a></td>
			<td class="highlights2"><a ng-click="scrollTo('activities')">Indirect Activities</a></td>
			<td class="highlights2"><a ng-click="scrollTo('data objects')">Data Objects</a></td>
			<td class="highlights2"><a ng-click="scrollTo('blus')">Business Logic Units</a></td>
			<td class="highlights2"><a ng-click="scrollTo('requirements')">Requirements</a></td>
			<td class="highlights2"><a ng-click="scrollTo('business rules')">Business Rules</a></td>
          </tr>
		   <tr>
            <td class="highlights">{{ data.dataSeries.CapabilityOverviewSheet.DIRECT_ACTIVITY_COUNT_QUERY[0] }}</td>
			<td class="highlights">TBD</td>
			<td class="highlights">{{ data.dataSeries.CapabilityOverviewSheet.DATA_OBJECT_COUNT_QUERY[0] }}</td>
			<td class="highlights">{{ data.dataSeries.CapabilityOverviewSheet.BUSINESS_LOGIC_UNIT_COUNT_QUERY[0] }}</td>
			<td class="highlights">{{ data.dataSeries.CapabilityOverviewSheet.REQ_COUNT_QUERY[0] }}</td>
			<td class="highlights">{{ data.dataSeries.CapabilityOverviewSheet.BR_COUNT_QUERY[0] }}</td>
          </tr>
      </tbody>
    </table>
    </table>
		</div>
		
		
		<!-- second table -->
		<div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
		<th class="highlights3" colspan="3">Interface Overview</th>
	      <tbody>
          <tr>
            <td class="highlights2" ><a ng-click="scrollTo('application interfaces')">Unique DBIAs</a></td>
			<td class="highlights2"><a ng-click="scrollTo('application interfaces')">Applications Interfaced With</a></td>
			<td class="highlights2"><a ng-click="scrollTo('application interfaces')">Data Objects Sent and Received</a></td>
		
          </tr>
		   <tr>
            <td class="highlights">{{ data.dataSeries.icdSheet.APPS_DBIA_COUNT_QUERY[0] }}</td>
			<td class="highlights">{{ data.dataSeries.icdSheet.APPS_INTERFACED_WITH_COUNT_QUERY[0] }}</td>
			<td class="highlights">{{ data.dataSeries.icdSheet.APPS_DATA_OBJECTS_COUNT_QUERY[0] }}</td>
	
          </tr>
      </tbody>
    </table>
    </table>
		</div>
		
			<div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
	  <tbody>
          <tr>
            <td class="disclaimer">** These items will be identified once the Enterprise Validations are completed. After these validations are completed, and the complete enterprise "picture" is known, a comprehensive set of business processes and activities that are supported by this capability will be generated.</td>
		</tr>
		<tr>
		<td class="disclaimer">***Business processes are currently excluded from the overall score calculations. They will be included once the Enterprise Validations are completed.</td>
		</tr>
      </tbody>
    </table>
    </table>
		</div>
		
	
		
		 <div class="page-header"></div> <!-- creates a pretty page break line -->
   
     <h3 id="similarity">Application Similarity</h3>
	 <p> The application similarity score identifies the level of duplication of this application accomplished by each of the comparison
	applications. The level of duplication is based upon various metrics, including business processes, activities, data objects, and
	business logic units supported. The component scores for AICS as compared to its top 4 similar systems (Health Summary
	(GMTS), Patient Care Encounter (PCE), Problem List (GMPL), and Text Integration Utility Group Notes (TIUI)) are shown
	below.</p>
	 
	 	<div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
			<th class="highlights3" colspan="5">Application Similarity Component Breakdown</th>
	      <tbody>
          <tr class="header2">
            <td width="350">Base Application: {{ data.dataSeries.CapabilityOverviewSheet.APPLICATION_DESCRIPTION_QUERY[0] | replaceUnderscores }}</td>
			<td> Application 1 </td>
			<td> Application 2 </td>
			<td> Application 3 </td>
			<td> Application 4 </td>
		</tr>
		<tr>
            <td class="header3">Business Processes Supported</td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
            <td class="header3">Activities Supported</td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
            <td class="header3">Data Objects (C,M,R)</td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
            <td class="header3">Business Logic Units (BLUs)</td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
      </tbody>
    </table>
    </table>
		</div>
		
		
		 	<div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
			<th class="highlights3" colspan="2">Application Similarity Explanation</th>
	      <tbody>
          <tr>
            <td class="highlights2">Business Process Support Score</td>
			<td> The business process support score reflects the number of common business processes supported by an application relative to the total number of business processes supported by the base application.</td>
		</tr>
		<tr>
            <td class="highlights2">Activity Support Score</td>
			<td> The activity support score reflects the number of common activities supported by an application relative to the total number of activities supported by the base application.</td>
		</tr>
		<tr>
            <td class="highlights2" width="350">Data Object/BLU Support Score</td>
			<td> The data object/BLU support score reflects the number of common data objects/BLUs supported by an application relative to the total number supported by the base application.</td>
		</tr>
      </tbody>
    </table>
    </table
		</div>
	      
	     <div class="page-header"></div> <!-- Start of Activity Section -->
   
     <h3 id="activities">Activities </h3>
	 <p>This section reflects the activities supported by this application module. An activity is a set of individual steps that must be performed in both clinical and logistical settings. Direct activities are identified as the activities that have tasks completed by the application. Indirect activities utilize information provided by the application.</p>						

	 <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Direct Activities</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="data in data.dataSeries.ActivitySheet.DIRECT_ACTIVITY_QUERY">
            <td>{{ data | replaceUnderscores }}</td>
          </tr>
      </tbody>
    </table>
    </table>
  </div>
  
  <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Indirect Activities</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td> TBD </td>
          </tr>
      </tbody>
    </table>
    </table>
  </div>
   
   <div class="page-header"></div> <!-- start of Data Object Section -->
   
     <h3 id="data objects">Data Objects</h3>
	 <p> This section reflects the data objects that this application creates, modifies, or reads as part of normal operations.  A data object is a grouping of data elements into a logical unit of similar types of data. Applications contain fields with data elements such as First Name, Last Name and Social Security Number. These data elements roll up into data objects, such as Patient ID. Data objects that are unique and only provided by this application are identified by <b>boldfaced text</b>.</p>	

	 
	 <!--pie chart for DO-->
<div class="row">
	 <div class="col-md-6">
      <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Graphical representation of the number of data objects created, modified and read by {{ data.dataSeries.CapabilityOverviewSheet.APPLICATION_DESCRIPTION_QUERY[0] | replaceUnderscores }}</h3>
            </div>
            <div class="panel-body">
              <div d3-pie d3-width="1000" d3-height="250" data="data.dataSeries.CapabilityOverviewSheet"></div>
            </div>
      </div> <!-- panel-primary -->
    </div> <!-- col-md-6 -->
</div>	<!-- end of pie chart -->

	 <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Data Object(s)</th>
          <th>C, M, or R</th> 
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="data in data.dataSeries.DataSheet.DATA_OBJECT_QUERY">
            <td>{{ data[0] | replaceUnderscores }}</td>
            <td>{{ data[1] }}</td>
          </tr>
      </tbody>
    </table>
    </table>
  </div>
  
 
   
   <div class="page-header"></div> <!-- Start of BLU Section -->
   
    <h3 id="blus">Business Logic</h3>
	 <p> This section reflects the business logic that this application provides as part of normal operations. A business logic unit is a functional, automated algorithm that the enterprise uses to transform inputs into outputs. For example, when a user enters a Patient ID into the application, the application uses the business logic unit Patient Recognition to locate the patient file. Business logic units that are unique and only provided by this application are identified by <b>boldfaced text</b>.</p>						

	 <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Business Logic Units</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="part in data.dataSeries.BLUSheet.BUSINESS_LOGIC_UNIT_QUERY">
            <td>{{ part[0] | replaceUnderscores }}</td>
          </tr>
      </tbody>
    </table>
    </table>
  </div>
   

 <div class="page-header"></div> <!-- Start of Requirements Section -->
   
     <h3 id="requirements">Requirements </h3>
	 <p>This section reflects the requirements fulfilled through the use of this application module.</p>						

	 <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Requirements</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="data in data.dataSeries.ReqAndStandardSheet.REQ_QUERY">
            <td>{{ data[0] | replaceUnderscores }}</td>
          </tr>
      </tbody>
    </table>
    </table>
  </div>
   
   <div class="page-header"></div> <!-- Start of Business Rules Section -->
   
     <h3 id="business rules">Business Rules </h3>
	 <p>This section reflects the business rules fulfilled through the use of this application module.</p>						

	 <div class="bs-example">
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Business Rules</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="data in data.dataSeries.ReqAndStandardSheet.BR_QUERY">
            <td>{{ data[0] | replaceUnderscores }}</td>
          </tr>
      </tbody>
    </table>
    </table>
  </div>
   
   <div class="page-header"></div> <!-- Start of Interface Section -->
   
       <h3 id = "application interfaces">Application Interfaces</h3>
	<p><b>Upstream Interfaces -</b> These are interfaces where the base application receives or consumes data from other enterprise applications (provider applications).</p>	
	<p><b>Downstream Interfaces -</b> These are interfaces where the base application sends or provides data to other enterprise applications (consumer applications).</p>

	 <div class="bs-example">
	 <h4> Upstream Interfaces </h4>
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Provider Application</th>
          <th>Data Object</th> 
		  <th>Interface Name </th>
		  <th>DBIA Reference </th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="data in data.dataSeries.icdSheet.UP_ICD_QUERY">
            <td>{{ data[1] | replaceUnderscores }}</td>
            <td>{{ data[4] | replaceUnderscores }}</td>
			<td>{{ data[2] | replaceUnderscores }}</td>
			<td>{{ data[3] | replaceUnderscores }}</td>
          </tr>
      </tbody>
    </table>
    </table>
	
	 <h4> Downstream Interfaces </h4>
    <table class="table table-striped">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Consumer Application</th>
          <th>Data Object</th> 
		  <th>Interface Name </th>
		  <th>DBIA Reference </th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="data in data.dataSeries.icdSheet.DOWN_ICD_QUERY">
            <td>{{ data[1] | replaceUnderscores }}</td>
            <td>{{ data[4] | replaceUnderscores }}</td>
			<td>{{ data[2] | replaceUnderscores }}</td>
			<td>{{ data[3] | replaceUnderscores }}</td>
          </tr>
      </tbody>
    </table>
    </table>
  </div>
   
   <div class="page-header"></div> <!-- creates a pretty page break line -->
   
</div> <!-- /container -->

    <!-- AngularJS -->  
    <script src="lib/angular.min.js"></script> 
    <script src="lib/angular-route.js"></script> 

    <!-- Angular Modules -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>

    <!-- jQuery library --> 
    <script src="lib/jquery-1.11.0.min.js"></script> 

    <!-- UnderscoreJS library -->
    <script src="lib/underscore-min.js"></script>

    <!-- d3 library -->
    <script src="lib/d3.js"></script>

    <!-- AngularJS-NVD3 directives for pie chart -->
    <script src="lib/angularjs-nvd3-directives.js"></script>

    <script>
      function start(data) {
        var ctrlScope = angular.element(jQuery('#IndexCtrl')).scope();
        ctrlScope.setJSONData(data);
      };
    </script>

  </body>

</html>