.main_div{
	margin:15px;
	padding:10px;
}

.instance_create_button {
	margin:5px;
}

.table_refresh_button {
	
}

.table_title {
	
}

.instance_creation_glyphicon {
	
}

.instance_field {
	
}

.string_field {
	
}

.update_instance_button {
	
}

.create_instance_button {
	
}

.view_instance_button {
	
}

.edit_instance_button {
	
}

.delete_instance_button {
	
}

.instance_action_glyph {
	
}

.loading_image_container {
	text-align:center;
}

.spinner {
	height:100px;
	width:150px;
}

.semoss_nav_menu {
	
	
}

.admin_nav_item {

}

.semoss_glyph {
	margin-right:10px;
}

#nav_menu_toggle {
	border-radius:20px;
	display:inline-block;
	background:rgb(100,100,100);
	vertical-align:middle;
	color:white;
	display:table-cell;
	width:3px;
	background: linear-gradient(to bottom, white, white ,rgb(100,100,100) ,rgb(100,100,100),rgb(100,100,100),white, white); 
	cursor: pointer;
}