/nb-configuration.xml
/nbactions*
/*.log
/*.log.*
target
.classpath
.project
.settings
.settings/*
ui/nb-configuration.xml
ui/nbactions*
ui/*.log
ui/*.log.*
ui/target
ui/.classpath
ui/.project
ui/.settings
ui/.settings/*
ui/src/main/resources/html.zip
ui/nbactions*
ui/logs
webapp/src/main/resources/semoss-web.properties
webapp/nb-configuration.xml
webapp/src/main/resources/ldap.properties
webapp/nbactions*
tools/nb-configuration.xml
tools/nbactions*
tools/*.log
tools/*.log.*
tools/target
tools/.classpath
tools/.project
tools/.settings
tools/.settings/*
doxygen-output
common/nbactions*
