/nb-configuration.xml
/nbactions*
/*.log
/*.log.*
target
.classpath
.project
.settings
.settings/*
ui/nb-configuration.xml
ui/nbactions*
ui/*.log
ui/*.log.*
ui/target
ui/.classpath
ui/.project
ui/.settings
ui/.settings/*
ui/src/main/resources/html.zip
ui/nbactions.xml
