/nb-configuration.xml
/nbactions*
/*.log
/*.log.*
target
.classpath
.project
.settings
.settings/*
gui/nb-configuration.xml
gui/nbactions*
gui/*.log
gui/*.log.*
gui/target
gui/.classpath
gui/.project
gui/.settings
gui/.settings/*
gui/src/main/resources/html.zip
gui/semtool-data
gui/nbactions*
gui/logs
semtool-data
webapp/src/main/resources/semoss-web.properties
webapp/nb-configuration.xml
webapp/src/main/resources/ldap.properties
webapp/nbactions*
tools/nb-configuration.xml
tools/nbactions*
tools/*.log
tools/*.log.*
tools/target
tools/.classpath
tools/.project
tools/.settings
tools/.settings/*
doxygen-output
common/nbactions*
html
logs
