<head>
   	<script src="/dataupload/resources/js/jquery-1.11.2.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
   	<script src="/dataupload/resources/lib/angular/angular.js"></script>
   	<script src="/dataupload/resources/lib/angular/angular-datatables.min.js"></script> 
	<script src="/dataupload/resources/lib/angular/angular-datatables.min.js"></script> 
	<script src="/dataupload/resources/lib/angular/ui-bootstrap-tpls-0.13.3.min.js"></script>
	
	<script src="/dataupload/resources/js/angularControllers/main/dataupload_ng.js"></script>
	<script src="/dataupload/resources/js/angularControllers/application/controller.js"></script>
	<script src="/dataupload/resources/js/angularControllers/application_data_type/controller.js"></script>
	<script src="/dataupload/resources/js/angularControllers/destination/controller.js"></script>
	<script src="/dataupload/resources/js/angularControllers/destination_credential/controller.js"></script>
	<script src="/dataupload/resources/js/angularControllers/notification_preference/controller.js"></script>
	<script src="/dataupload/resources/js/angularControllers/notification_type/controller.js"></script>
	<script src="/dataupload/resources/js/angularControllers/org_app_access/controller.js"></script>
	<script src="/dataupload/resources/js/angularControllers/organization/controller.js"></script>
	<script src="/dataupload/resources/js/angularControllers/rule/controller.js"></script>
	<script src="/dataupload/resources/js/angularControllers/rule_type/controller.js"></script>
	<script src="/dataupload/resources/js/angularControllers/transfer_registration/controller.js"></script>
	<script src="/dataupload/resources/js/angularControllers/user/controller.js"></script>
	<script src="/dataupload/resources/js/angularControllers/user_app_access/controller.js"></script>

	<script src="/dataupload/resources/js/Chart.min.js"></script>
	<script src="/dataupload/resources/js/jquery.ba-hashchange.js"></script>
		
	<script src="/dataupload/resources/js/dt_common_functions.js"></script>
	<script src="/dataupload/resources/js/dt_constants.js"></script>
	<script src="/dataupload/resources/js/dt_functions.js"></script>
	<!-- Bootstrap resources (3.3.4) -->
	<link rel="stylesheet" href="/dataupload/resources/lib/bootstrap-3.3.4-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/dataupload/resources/lib/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css">
	<script src="/dataupload/resources/lib/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>

	<script>
	var menuVisible = true;
	
	function toggleNavMenu(){
		if (menuVisible){
			$('#dt_navigation_menu').hide(200);
			$('#expand_border').removeClass('glyphicon-menu-left');
			$('#expand_border').addClass('glyphicon-menu-right');
			menuVisible = false;
		}
		else {
			$('#dt_navigation_menu').show(200);
			$('#expand_border').removeClass('glyphicon-menu-right');
			$('#expand_border').addClass('glyphicon-menu-left');
			menuVisible = true;
		}
	}
	
	function showPanel(id) {
		$('.main_div').each(function() {
			$(this).hide(200);
		});
		$('#' + id).show(200);
		
		$('.admin_nav_item').each(function() {
			$(this).removeClass('active');
		});
		$('#' + id + "_nav").addClass('active');
	}
	
	function showNavMenu(navmenuID, buttonID){
		$('.dt_nav_menu_btn').each(function() {
			$(this).removeClass('btn-info');
		});
		$('.dt_nav_menu').each(function() {
			$(this).hide();
		});
		$('#' + buttonID).addClass('btn-info');
		$('#' + navmenuID).show();
	}
	
	$(document).ready(function (){
		$('#success_message_panel').hide();
		$('#warning_message_panel').hide();
		$('#failure_message_panel').hide();
		$('.main_div').each(function() {
			$(this).hide();
		});

		
		// Set the set of nav items 
		$('.dt_nav_menu_btn').each(function() {
			$(this).removeClass('btn-info');
		});
		
		
		// Set the active nave item (Organizations)
		$('.admin_nav_item').each(function() {
			$(this).removeClass('active');
		});
		$('#dtorganizations_nav').addClass('active');
		$('#dt_organizations').hide();
		
	});
	</script>
</head>