<div id="user_privileges_modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Database Privileges for {{instance.username}}</h4>
			</div>
			<div class="modal-body">
				<div ng-repeat="privilege in privileges">
	        		<div>
	        			<label for="semossInstanceRoleName">Database Name:</label> 
	        			<select ng-model="privileges"
							type="text" class="form-control instance_field string_field" id="semossInstanceRoleName"
							placeholder="The Role of the User">
							<option ng-selected="{{privilege.dbName == dbChoices.dbName}}"
            					ng-repeat="privilege in privileges"
            					value="{{privilege.dbName}}">
							<option value="{{privilege.dbName}}">{{privilege.dbName}}</option>
						</select>
	        		</div>
	        		<div class="form-group">
						<label for="semossInstanceRoleName">Role</label> 
						<select ng-model="activeInstance.role"
							type="text" class="form-control instance_field string_field" id="semossInstanceRoleName"
							placeholder="The Role of the User">
							<option value="0">Base User</option>
							<option value="1">Database Administrator</option>
							<option value="2">Insights Administrator</option>
						</select>
					</div>
					<hr>
				</div>
				<button type="button" class="btn btn-success" data-dismiss="modal">Add Database</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary update_instance_button" ng-click="update()" >Save changes</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
