	<table id="users_table" class="row-border hover" datatable="ng" dt-instance="instanceManager.dtInstance">                
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Display Name</th>     
                    <th>Email</th>
                    <th>Role</th>         
                    <th></th>
                    <th></th>
                    <th></th>    
                    <th></th>   
                </tr>
            </thead>
            <tbody>
                <tr ng-click="rowSelected($index)"  ng-repeat="instance in instances"  >
                    <td>{{instance.username}}</td>
                    <td >{{instance.displayName}}</td>
                    <td>{{instance.email}}</td>
                    <td >{{instance.role}}</td>
                    <td><button class="btn btn-default btn-primary view_instance_button" ng-click="showPrivleges()" ><span class="glyphicon glyphicon-lock instance_action_glyph"></span></button></td>
                    <td><button class="btn btn-default btn-info view_instance_button" ng-click="view(instance.username)" ><span class="glyphicon glyphicon-eye-open instance_action_glyph"></span></button></td>
                    <td><button class="btn btn-default btn-warning edit_instance_button" ng-click="showEdit(instance.username)" ><span class="glyphicon glyphicon-pencil instance_action_glyph"></span></button></td>
                    <td><button class="btn btn-default btn-danger delete_instance_button" ng-click="showDelete(instance.username)" ><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
            </tbody>            
        </table>
        <div class="loading_image_container">
        	<img class="spinner" src="images/loading.gif" ng-if="loading">
        </div>