.container {
  padding-right: 15px;
  padding-left: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}

.block. {
	background-color: #eee;
	height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	display:inline-block;
}


.row.equalColumns {
  background-color: #eee;
} 
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  
  
}



.equalColumns [class*="col-md-2"] {
  background-color: #eee;
  border-bottom: none;
} 

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

#floater {
  float:left; 
  height:50%; 
  margin-bottom:-120px;
}

#content  {
  clear:both; 
  height:240px; 
  position:relative;
}

.highlights{
text-align:center;
}

.highlights2{
text-align:center;
font-weight: bold;
background-color:#E3E3E2;
}

.highlights3{
text-align:center;
font-weight: bold;
background-color:#9BBBF4
}
.header2{
text-align:center;
font-weight: bold;
background-color:#606060;
color: #FFFFFF;
}

.appheader{
text-align:center;
font-weight: bold;
background-color:#191975;
color: #FFFFFF;}

.fixedlayout{
    table-layout: fixed;
}

td{
    word-wrap:break-word
}

.header3{
text-align:center;
font-weight: bold;
}

.disclaimer{
background-color:#FFE6FF;
font-size:small;}
