<html>
	#parse( "/common/adminHead.vm")
<body ng-app="semoss" >
<div class="pages_container">
	#include( "/common/header.vm")
</div>
<div class="pages_container">
	#parse("/pages/admin_home.vm")
</div>
<div class="pages_container ">
	#include( "/common/copyright.vm")
</div>
</body>
</html>