<html lang="en">
  <head>
	  <link rel="stylesheet" href="css/style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Welcome to the SEMOSS Web Portal</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<script src="js/lib/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
  </head>

<body style="background-image:url('images/background.jpg'); background-size:100% 100%;">
    <div class="navbar-wrapper" style="margin-top:85px;width:100%">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
	#include( "/common/header.vm")
    <div class="container marketing" style="margin-top:100px">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4 semoss_explore_section">
        	<a href="#">
          		<img class="img-circle" src="images/1.jpg" alt="Generic placeholder image" width="140" height="140">
          		<h2>Explore</h2>
          		<p>Use the VCAMP system to query and visualize knowledgebases managed by the KB Proxy Server.  Non-Admin basic users should enter here.</p>
          	</a>
          	<p><a class="btn btn-default" href="#" role="button">Log In &raquo;</a></p>
        		</div><!-- /.col-lg-4 -->
        	
        <div class="col-lg-4 semoss_manage_section">
        	<a href="admin">
          		<img class="img-circle" src="images/2.jpg" alt="Generic placeholder image" width="140" height="140">
          		<h2>Manage</h2>
          		<p>Use the administrator's console to manage database and user entries found within the system, granting basic access and enhanced privileges to resources offered by the VCAMP Web Application.</p>
          	</a>
         	 <p><a class="btn btn-default" href="admin" role="button">Log In &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 semoss_content_section">
       	 	<a href="#">
          		<img class="img-circle" src="images/3.jpg" alt="Generic placeholder image" width="140" height="140">
          		<h2>Add Content</h2>
          		<p>Use the VCamp Web Application to manage the content of the knowledgebases behind the server.</p>
          	</a>
          	<p><a class="btn btn-default" href="#" role="button">Log In &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
     
    </div><!-- /.container -->

  </body>
</html>