
<div id="dt_navigation_menu" style="display:table-cell;background-color:rgb(245,245,245);border:solid 1px black;border-radius:15px;padding:10px;width:20%">
	<div style="text-align:center;padding-bottom:10px;">
		<button id="nav_manage_btn" onclick="showNavMenu('nav_manage', 'nav_manage_btn')" class=" btn btn-info dt_nav_menu_btn" style="margin:auto"><span class="glyphicon glyphicon-pencil"></span><br><span style="font-size:70%">Manage</span></button>
	</div>
	#parse("/navs/nav_manage.vm")
</div>
<div id="nav_menu_toggle" onclick="toggleNavMenu()" >
		<span id="expand_border" class="glyphicon glyphicon-menu-left" ></span>
</div>

<div style="display:table-cell;width:7px;">
</div>
<div style="display:table-cell;background-color:rgb(250,250,250);border:solid 1px black;border-radius:15px;padding:20px;margin-left:4%;">
		<div id="success_message_panel" class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Operation Succeeded</h3>
			</div>
			<div id="success_message_area" class="panel-body"></div>
		</div>

		<div id="warning_message_panel" class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">Operation Has Warnings</h3>
			</div>
			<div id="error_message_area" class="panel-body"></div>
		</div>

		<div id="failure_message_panel" class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">Operation Failed</h3>
			</div>
			<div id="error_message_area" class="panel-body"></div>
		</div>
		
		<div>	
		#parse("/databases/main.html")
		
		</div>
</div>	