<html>
  <head>
	
  </head>
  <body>
    <div >
        <form name="f" th:action="@{/login}" method="post">               
            <fieldset>
                <legend>Please Login</legend>
                #if( $error )
                <div class="alert alert-error">    
                    Invalid username and/or password.
                </div>
                #end
                #if( $logout )
                <div class="alert alert-success"> 
                    You have successfully logged out
                </div>
                #end
                <label for="username">Username</label>
                <input type="text" id="username" name="username"/>        
                <label for="password">Password</label>
                <input type="password" id="password" name="password"/> 
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>   
                <div class="form-actions">
                    <button type="submit" class="btn">Log in</button>
                </div>
            </fieldset>
        </form>
    </div>
  </body>
</html>